apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: {{ if .Values.isEnabled }}1{{ else }}0{{ end }}
  revisionHistoryLimit: 0
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 100%
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      serviceAccountName: backend
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: api
          image: "{{ .Values.image }}:{{ .Values.appVersion }}"
          args:
            - uvicorn
            - misfortune.api.main:app
            - --host
            - 0.0.0.0
          ports:
            - containerPort: 8000
              name: http
          env:
            - name: REPO__HOST
              value: "redis.prep-redis-state"
            - name: REPO__USERNAME
              valueFrom:
                secretKeyRef:
                  name: redis-credentials
                  key: username
            - name: REPO__PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis-credentials
                  key: password
          envFrom:
            - secretRef:
                name: tokens
          startupProbe:
            failureThreshold: 16
            httpGet:
              port: http
              path: /probe/live
          livenessProbe:
            httpGet:
              port: http
              path: /probe/live
          resources:
            requests:
              cpu: 10m
              memory: 128Mi
            limits:
              cpu: 500m
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ALL]
