---
apiVersion: v1
kind: Service
metadata:
  name: bot
spec:
  clusterIP: None
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: bot
spec:
  replicas: 1
  serviceName: bot
  selector:
    matchLabels:
      app: bot
  template:
    metadata:
      labels:
        app: bot
    spec:
      volumes:
        - name: gcp
          secret:
            items:
              - key: SERVICE_ACCOUNT_JSON
                path: sa.json
            secretName: gcp
      containers:
        - name: bot
          image: "{{ .Values.image }}:{{ .Values.appVersion }}"
          args: [ "-m", misfortune.bot ]
          env:
            - name: API_URL
              value: http://api
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /secret/sa.json
          envFrom:
            - secretRef:
                name: tokens
          volumeMounts:
            - mountPath: /secret
              name: gcp
