---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bot
spec:
  replicas: {{ if .Values.isEnabled }}1{{ else }}0{{ end }}
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: bot
  template:
    metadata:
      labels:
        app: bot
    spec:
      serviceAccountName: backend
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      volumes:
        - name: signaling
          emptyDir:
            sizeLimit: 1Mi
            medium: Memory
      containers:
        - name: bot
          image: "{{ .Values.image }}:{{ .Values.appVersion }}"
          args: [ "-m", misfortune.bot.main ]
          env:
            - name: API_URL
              value: http://api
            - name: RUN_SIGNAL_FILE
              value: /var/run/bot/is-running
            - name: REPO__HOST
              value: "redis.prep-redis-state"
            - name: REPO__USERNAME
              valueFrom:
                secretKeyRef:
                  name: redis-credentials
                  key: username
            - name: REPO__PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis-credentials
                  key: password
          envFrom:
            - secretRef:
                name: tokens
          resources:
            requests:
              cpu: 5m
              memory: 128Mi
            limits:
              cpu: 200m
          volumeMounts:
            - mountPath: /var/run/bot
              name: signaling
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ALL]
          startupProbe:
            failureThreshold: 20
            exec:
              command: [ "test", "-f", "/var/run/bot/is-running"]
