---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: tokens
spec:
  secretStoreRef:
    name: doppler-prep
    kind: ClusterSecretStore
  target:
    name: tokens
  dataFrom:
    - find:
        path: "MISFORTUNE_"
      rewrite:
        - regexp:
            source: "MISFORTUNE_(.+)"
            target: "$1"

