name: Main
on: [ push ]

jobs:
  lint:
    runs-on: ubuntu-latest
    container: python:3.11-slim
    steps:
      - name: Install Poetry
        run: pip install poetry==1.3.2
      - uses: actions/checkout@v3
      - run: poetry install
      - name: Check coding standards
        run: |
          poetry run black --check src/
          poetry run mypy src/

  push_docker:
    runs-on: ubuntu-latest
    needs:
      - lint
    if: success() && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build the tagged Docker image
        run: docker build -t ghcr.io/preparingforexams/wheel-of-misfortune-backend:${GITHUB_SHA} --build-arg "build=${GITHUB_SHA}" .
      - name: Push the tagged Docker image
        run: docker push ghcr.io/preparingforexams/wheel-of-misfortune-backend:${GITHUB_SHA}

  deploy:
    runs-on: ubuntu-latest
    needs: push_docker
    concurrency: production
    steps:
      - uses: actions/checkout@v3
      - name: Substitute environment variables in values.yaml
        env:
          GCP_SERVICE_ACCOUNT_JSON: ${{ secrets.GCP_SERVICE_ACCOUNT_JSON }}
          INTERNAL_API_KEY: ${{ secrets.INTERNAL_API_KEY }}
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          TELEGRAM_API_TOKEN: ${{ secrets.TELEGRAM_API_TOKEN }}
          WHEEL_TOKEN: ${{ secrets.MISFORTUNE_WHEEL_TOKEN }}
        run: "envsubst < values.yaml > values_sub.yaml && mv values_sub.yaml values.yaml"
      - uses: WyriHaximus/github-action-helm3@v2
        with:
          exec: helm upgrade api . --install --namespace=misfortune --atomic
          kubeconfig: '${{ secrets.KUBECONFIG_RAW }}'
