name: Main
on:
  push:
    branches: [ main ]
  pull_request: { }

jobs:
  validate-renovate-config:
    uses: BlindfoldedSurgery/renovate-config/.github/workflows/validate.yml@main

  lint:
    uses: BlindfoldedSurgery/actions-python/.github/workflows/lint.yml@v2
    with:
      python-version: '3.12'

  test:
    uses: BlindfoldedSurgery/actions-python/.github/workflows/test.yml@v2
    with:
      python-version: '3.12'
    secrets:
      ENVIRONMENT_VARIABLES: |
        GOOGLE_CLOUD_PROJECT=misfortune
        GSA_JSON=${{ secrets.TEST_GSA_JSON_B64 }}

  build-container-image:
    needs:
      - lint
      - test
    permissions:
      contents: read
      packages: write
    uses: preparingforexams/actions-container/.github/workflows/build-image-kaniko.yml@v3
    with:
      runner-name-build: warp-ubuntu-latest-arm64-2x
      push-image: ${{ github.ref_name == github.event.repository.default_branch }}

  deploy:
    runs-on: ubuntu-latest
    if: github.ref_name == github.event.repository.default_branch
    needs:
      - build-container-image
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: git push origin main:release

  clean:
    concurrency: cleanup
    needs: [ deploy ]
    permissions:
      packages: write
    uses: preparingforexams/actions-container/.github/workflows/clean.yml@v3
